.about {
  font-size: 14px;
}

.card-body a {
  text-decoration: none;
  padding-left: 2px;
}

.link-btn-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.main-text {
  margin-right: 2em;
  margin-top: 1em;
}
